<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
          <h1 class = "welcome-jumbo">Welcome to Aethur</h1>
          <p>Welcome to Aethur. We are a community  who come
               together each day to create their own entertainment: unique,
               live, unpredictable, never-to-be repeated experiences created by
               the magical interactions of the many.
            </p>
          <div class = "jumbotron-button-left">

             </div>

        </div>
    </body>
</html>
