
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container-box">
        <div class="grid-1 callout primary">
           <h1>Mission Statement</h1>
           <p>
               Our mission is to provide an easy way for military veterans to
           get in touch with the VAs office at most universities,
           local colleges and to provide aid with the application process.
            </p>
         </div>

         <div class="grid-2 callout warning">
           <h1>Veteran Resources</h1>
            <p>For those looking to understand exactly what benifits you have as a veteran please reference the following websites for reliable information</p>
         </div>

         <a href = "/users/new" style="text-decoration:none;" class="grid-3 callout alert">
             <div>

                 <h1>Complete Our Questionaire</h1>
                 <p>
                     By completing our survey we are able to match you with VA admission officers at any college you select. Our goal is to make the education process quick and seamless.
                 </p>

             </div>
              </a>
         </div>
    </body>
</html>
