#form-container {
  width: 35%;
  padding: 25px;
  background: #112e51;
  margin: 0 auto;
  display: block;
  text-align: center;
  opacity: .9;
  border-radius: 10px;
}

input {
  width: 95%;
  height: 35px;
  margin: 10px 0px;
}

input::placeholder {
  font-weight: 600;
  font-size: 14px;
}

#vet-data{
    padding-bottom: 50px;
}
#vet-data th{
    text-align: center;
    padding-left: 50px;
}

#vet-data td{
    text-align: center;
    padding-left: 50px;
}

#button{
  background-color: #CD2026; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:auto;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  position: absolute;
  left:47%;
  bottom: 30%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #BEBEBE}

th {
  background-color: #112e51;
  color: white;
}

#tab-1{
  width: 100%;
  height: 400px;
}

#tab-2{
  width: 100%;
  height: 400px;
}

#tab-3{
  width: 100%;
  height: 400px;
}

#tab-4{
  width: 100%;
  height: 400px;
}

.next{
  width:25px;
}

.hide{
  display:none;
}

.form-button {
  width: 90px;
  height: 40px;
  background: #cd2026;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 14px;
}

#welcome{
  position:absolute;
  top: 0%;
  left: 40%;
  bottom: 80%;
}

#direction{
  position:absolute;
  left: 20%;
  bottom: 80%;
}

#data{
  position:absolute;
  left: 15%;
  right:40%;
  top: 25%;
}


